.brand{
  margin-left:50px;
}
.nav-item{
  margin:0 20px;
}
.login{
margin:0 20px;
text-decoration:none;
font-size:20px;
}
#question{
  width:70%;
  margin:auto;
  margin-top:100px;
}

@media screen and (max-width:900){
  #question{

  }
}


/*footer*/
footer{
  font-size:10px;
}
#lf{
    background-color:white;
    width:100%;
    position:absolute;
    text-align:center;
    margin-top:100px;
    padding:20px 0 30px 0;
}
#lf .fa {
  padding:5px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
#lf .fa-facebook {
  background: #929395;
  color: white;
  border-radius:30px;
}
#lf .fa-linkedin {
  background:#929395;
  color: white;
  border-radius:5px;
}
#lf .fa-youtube-play {
  background:#929395;
  color:white;
}
#lf .fa-instagram {
  background: white;
  color: #929395;
}
